[submodule "dlib"]
	path = dlib
	url = https://github.com/reunanen/dlib
[submodule "opencv-binaries-vs-no-lfs"]
	path = opencv-binaries-vs-no-lfs
	url = https://bitbucket.org/reunanen/opencv-binaries-vs-no-lfs.git
